<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style2.css">
</head>

<body>
    <header>
        <div class="header ">
            <img class="logo-header" src="../images/pinterest-logo.svg" alt="logo">
            <a class="botones-header" href="#">Inicio</a>
            <a class="botones-header" href="#">Hoy</a>
            <input class="barra-busqueda" type="text" placeholder="Buscar">
            <a  href="#"><img src="../images/campana.jpg" alt="campana"></a>
            <a  href="#"><img src="../images/noti.jpg" alt="noti"></a>
            <a class="botones-header" href="#"></a>
        </div>
    </header>

    <body>
        <div class="contenedor cuerpo">
            <div class="imagenes">
                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-arrow.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/moon.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/marvel-captain.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-batman.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/marvel-cyclops.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-black.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-blue.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>


                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-flash.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>



                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/marvel-thor.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/mono-chino.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>
                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-green.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>


                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/pumas2.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-martian.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-superman.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/dc-wonder.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>



                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/marvel-captain.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/pumas.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/batman.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/flores.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/marvel-iron.jpg" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div>

                <!-- <div class="fondo-imagen">
                    <a href="#"><img class="imagen" src="../images/" alt=""></a>
                    <p class="texto-imagen">Lorem ipsum</p>
                </div> -->

            </div>
        </div>
    </body>

    <footer>
        <div class="footer">
            <p>footer</p>
        </div>
    </footer>
</body>

</html>